.navbar {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.nav-link {
    color: white;
    padding: 14px 20px;
    display: inline-block; 
}

.nav-link:hover {
    background-color: #ddd;
    color: black;
}
